
---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Javascript">
<link rel="stylesheet" href="/css/prism.css" />
<link rel="stylesheet" href="/css/style.css" />
    <div class="side-bar">
    <h2>Javascript</h2>
    <p>Problems solved in javascript.</p>
    <ul>
      <li><a href="/exercism.html">Index</a></li>
    </ul>
    <ul></ul>
    </div>
    <div class="main">
    
    </div>

    <script src="/js/prism.js" isinline></script>

<style>
a[href] {
  color: #f15125;
}
</style>
</Layout>
