
---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Racket">
<link rel="stylesheet" href="/css/prism.css" />
<link rel="stylesheet" href="/css/style.css" />
    <div class="side-bar">
    <h2>Racket</h2>
    <p>Problems solved in racket.</p>
    <ul>
      <li><a href="/exercism.html">Index</a></li>
    </ul>
    <ul><li><a href="#hello-world">Hello World</a></li></ul>
    </div>
    <div class="main">
    
            <h3><a name="hello-world">Hello World</a></h3>
            <a href="/problems/hello-world">Other "Hello World" solutions.</a>
            <pre><code class="language-racket">{`#lang racket

(define (hello) "Hello, World!")


(provide hello)
`}</code></pre>
        
    </div>

    <script src="/js/prism.js" isinline></script>

<style>
a[href] {
  color: #f15125;
}
</style>
</Layout>
