
---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Rpg Character Sheet">
<link rel="stylesheet" href="/css/prism.css" />
<link rel="stylesheet" href="/css/style.css" />
    <div class="side-bar hidden md:block">
    <h2>Rpg Character Sheet</h2>
    <p>Solutions to rpg-character-sheet in various languages.</p>
    <ul>
      <li><a href="/exercism.html">Index</a></li>
    </ul>
    <ul></ul>
    </div>
    <div class="main md:ml-[300px] px-2">
    
    </div>

    <script src="/js/prism.js" isinline></script>

<style>
a[href] {
  color: #f15125;
}
</style>
</Layout>
