
---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Secrets">
<link rel="stylesheet" href="/public/css/prism.css" />
<link rel="stylesheet" href="/public/css/style.css" />
    <div class="side-bar">
    <h2>Secrets</h2>
    <p>Solutions to secrets in various languages.</p>
    <ul>
      <li><a href="/exercism.html">Index</a></li>
    </ul>
    <ul><li><a href="#elixir">Elixir</a></li></ul>
    </div>
    <div class="main">
    
            <h3><a name="elixir">Elixir</a></h3>
            <a href="/languages/elixir">Other Elixir solutions.</a>
            <pre><code class="language-elixir">{`defmodule Secrets do
  def secret_add(n) do
    &(&1 + n)
  end

  def secret_subtract(n) do
    &(&1 - n)
  end

  def secret_multiply(n) do
    &(&1 * n)
  end

  def secret_divide(n) do
    &div(&1, n)
  end

  def secret_and(secret) do
    fn param -> Bitwise.band(param, secret) end
  end

  def secret_xor(secret) do
    fn param -> Bitwise.bxor(param, secret) end
  end

  def secret_combine(fn1, fn2) do
    &(&1
      |> fn1.()
      |> fn2.())
  end
end
`}</code></pre>
        
    </div>

    <script src="/public/js/prism.js" isinline></script>

<style>
a[href] {
  color: #f15125;
}
</style>
</Layout>
