body {
  color: #aaaaaa;
}

article {
  max-width: 800px;
  margin: 0 auto;
}

div.side-bar {
  width: 200px;
  height: 600px;
  position: fixed;
  overflow-y: scroll;
  margin-left: 2rem;
}

div.side-bar ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

div.side-bar ul li {
  padding-left: 20px;
  position: relative;
}

div.side-bar ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
}

main {
  margin: auto;
  max-width: 90ch;
  color: #aaaaaa;
}

main article {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

main article h1,
main article h2,
main article h3 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

main article h1 {
  color: #eeeeee;
  font-size: 36px;
}

main article h2 {
  color: #eeeeee;
  font-size: 28px;
}

main article h3 {
  color: #eeeeee;
  font-size: 24px;
}

h1,
h2,
h3 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  color: #eeeeee;
  font-size: 36px;
}

h2 {
  color: #eeeeee;
  font-size: 28px;
}

h3 {
  color: #eeeeee;
  font-size: 24px;
}
